# Godot 4+ specific ignores
.godot/
/android/

# Builds exportados (no versionar los binarios)
/builds/
/UnstableUnicorns2D.exe
/UnstableUnicorns2D.pck
/UnstableUnicorns2D_mac.zip
/unestableunicorns2dHTML5/
*.exe
*.pck
